.logo{
    display: flex;
    justify-content: space-around;
}

.imglogo{
    
    width: 133px;
    height: 78px;

    
}

.button{
    background-color: white;
    border: 10px;
    color: #414141;
    padding: 10px 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border: 2px solid #414141;
    border-radius: 20px;
    font-weight: bold;
    font-family: sans-serif;
    width: 200px;
    height: 45px;
    margin-top: 25px ;
    text-decoration: none;
    
    
}

.nav ul{
    list-style-type: none; /*remove os marcadores de lista*/
    margin: 0; /*remover as configurações padrão do navegador*/
    padding: 0;
    overflow: visible;
    background-color: white;
    display:flex;
    justify-content: space-around;
}


.nav li{
    display:flex;
    justify-content: space-around;
  }

.nav a {
    display: block;
    color: #414141;
    text-align: center;
    font-weight: bold;
    padding: 0px 0px 0px;
    font-size: 14px;
    font-family:sans-serif;
    text-decoration: none;
  }


/*  .nav a:hover { Para deixar selecionado

}*/ 

.bannerdiv{
    margin-left: -8px;
    margin-right: -8px;
    height: 400px;
    width: 1200px;
   

}

.texto{
    position: absolute;
      color:#fff;
      text-align: center;
      top: 100px;
      width: 250px;
      line-height: 30px;
      height: 30px;
    
    
  
    
}

.body{

        display: block;
     
}

